.checkbox-form h3 {
	border-bottom: 1px solid #e5e5e5;
	font-size: 25px;
	margin: 0 0 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	width: 100%;
}
.country-select {
	margin-bottom: 30px;
	position: relative;
}
.country-select label, .checkout-form-list label {
	color: #333;
	margin: 0 0 5px;
	display: block;
}
.country-select label span.required, .checkout-form-list label span.required {
	color: red;
}
.country-select select {
	-moz-appearance: none;
	border: 1px solid #ddd;
	height: 32px;
	padding-left: 10px;
	width: 100%;
	background-color: transparent;
}

.checkout-form-list {
	margin-bottom: 30px;
}
.checkout-form-list label {
	color: #333;
}
.checkout-form-list input[type=text], .checkout-form-list input[type=password], .checkout-form-list input[type=email] {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #e5e5e5;
	border-radius: 0;
	height: 42px;
	width: 100%;
	padding: 0 0 0 10px;
}
/* Your Order */
.your-order {
	background: #f2f2f2 none repeat scroll 0 0;
	padding: 30px 40px 45px;
}
.your-order h3 {
	border-bottom: 1px solid #d8d8d8;
	font-size: 25px;
	margin: 0 0 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	width: 100%;
}
.your-order {
	background: #f2f2f2 none repeat scroll 0 0;
	padding: 30px 40px 45px;
}
.your-order h3 {
	border-bottom: 1px solid #d8d8d8;
	font-size: 25px;
	margin: 0 0 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	width: 100%;
}
.your-order-table table {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	width: 100%;
}
.your-order-table table th,
.your-order-table table td {
	border-bottom: 1px solid #d8d8d8;
	border-right: medium none;
	font-size: 14px;
	padding: 15px 0;
	/* text-align: center; */
}
.your-order-table table th {
	border-top: medium none;
	font-weight: normal;
	/* text-align: center; */
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	width: 250px;
}
.your-order-table table  .product-total{
	text-align: right;
}
.your-order-table .amount {
	float: right;
}
.your-order-table table .shipping ul li input {
	position: relative;
	top: 2px;
}
.your-order-table table .shipping th {
	vertical-align: top;
}
.your-order-table table .order-total th {
	border-bottom: medium none;
	font-size: 18px;
}
.your-order-table table .order-total td {
	border-bottom: medium none;
}
.your-order-table table tr.cart_item:hover {
	background: #F9F9F9;
}
.your-order-table table tr.order-total td span {
	color: #464646;
	font-size: 20px;
}
.payment-method {
	margin-top: 40px;
}
.payment-accordion h3 {
	border-bottom: 0 none;
	margin-bottom: 10px;
	padding-bottom: 0;
}
.payment-accordion h3 a {
	color: #6f6f6f;
	font-size: 14px;
	padding-left: 25px;
	position: relative;
	text-transform: capitalize;
	text-decoration: none;
}
.payment-content p {
	font-size: 13px;
}
.payment-accordion img {
	height: 60px;
	margin-left: 15px;
}
.order-button-payment {
	display: flex;
	margin-top: 40px;
}
.order-button-payment input{
	background-color: #333;
	border: 0 none;
	border-radius: 2px;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	height: 42px;
	letter-spacing: 1px;
	line-height: 42px;
	padding: 0 25px;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out 0s;
	width: inherit;
	margin: 0 auto;
}