.header__nav-link {
	font-size: 1.5rem;
	font-family: Montserrat;
}
.header__logo{
	flex: 1.1;
}
.header__content {
	flex: 1;
}
.cart .fa-shopping-cart {
	padding-right: 10px;
	font-size: 2rem;
	cursor: pointer;
}
.cart .cart__quantity {
	align-self: center;
	text-align: center;
	vertical-align: top;
}
.header__button {

}