.main-sidebar {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
	position: fixed;
	top: 0;
	height: 100%;
	width: 250px;
	background-color: #fff;
	z-index: 880;
	left: 0;
}

.main-sidebar .sidebar-brand {
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 60px;
	line-height: 60px;
}
.main-sidebar .sidebar-brand.sidebar-brand-sm {
	display: none;
}
.main-sidebar .sidebar-brand a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 700;
	color: #000;
}

.main-sidebar .sidebar-menu {
	padding: 0;
	margin: 0;
}
.main-sidebar .sidebar-menu li {
	display: block;
}
.main-sidebar .sidebar-menu li.menu-header {
	padding: 3px 15px;
	color: #a1a8ae;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-weight: 600;
}
.main-sidebar .sidebar-menu li.menu-header:not(:first-child) {
	margin-top: 10px;
}
.main-sidebar .sidebar-menu li a {
	position: relative;
	display: flex;
	align-items: center;
	height: 50px;
	padding: 0 20px;
	width: 100%;
	letter-spacing: 0.3px;
	color: #78828a;
	text-decoration: none;
}
.main-sidebar .sidebar-menu li a .badge {
	float: right;
	padding: 5px 10px;
	margin-top: 2px;
}
.main-sidebar .sidebar-menu li a i {
	width: 28px;
	margin-right: 20px;
	text-align: center;
}
.main-sidebar .sidebar-menu li a span {
	margin-top: 3px;
	width: 100%;
}
.main-sidebar .sidebar-menu li a:hover {
	background-color: #f8fafb;
}
.main-sidebar .sidebar-menu li.active a {
	color: #6777ef;
	font-weight: 600;
	/* background-color: #f8fafb; */
}
.main-sidebar .sidebar-menu li.active a.has-dropdown:after {
	transform: translate(0, -50%) rotate(90deg);
}
.main-sidebar .sidebar-menu li.active ul.dropdown-menu {
	background-color: #f8fafb;
}
.main-sidebar .sidebar-menu li a.has-dropdown:after {
	content: "ï”";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translate(0, -50%);
	font-size: 12px;
	transition: all 0.5s;
}
.main-sidebar .sidebar-menu li.active > ul.dropdown-menu li a:hover {
	background-color: #f8fafb;
}
.main-sidebar .sidebar-menu li ul.dropdown-menu {
	padding: 0;
	margin: 0;
	display: none;
	position: static;
	float: none;
	width: 100%;
	box-shadow: none;
	background-color: transparent;
}
.main-sidebar .sidebar-menu li ul.dropdown-menu li a {
	color: #868e96;
	height: 35px;
	padding-left: 65px;
	font-weight: 400;
}
.main-sidebar .sidebar-menu li ul.dropdown-menu li a:hover {
	color: #6777ef;
	background-color: inherit;
}
.main-sidebar .sidebar-menu li ul.dropdown-menu li.active > a {
	color: #6777ef;
	font-weight: 600;
}
.main-sidebar .sidebar-menu li ul.dropdown-menu li a i {
	margin-top: 1px;
	text-align: center;
}
.main-sidebar .sidebar-menu li ul.dropdown-menu li ul.dropdown-menu {
	padding-left: 10px;
}

.nav-item svg {
	margin-right: 10px;
}
/* main */
.section {
	position: relative;
	z-index: 1;
}
.section > *:first-child {
	margin-top: -7px;
}
.section .section-header {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
	background-color: #fff;
	border-radius: 3px;
	border: none;
	position: relative;
	margin-bottom: 30px;
	padding: 20px;
	display: flex;
	align-items: center;
}
.section .section-header h1 {
	margin-bottom: 0;
	font-weight: 700;
	display: inline-block;
	font-size: 24px;
	margin-top: 3px;
	color: #34395e;
}
.section .section-header .section-header-back {
	margin-right: 15px;
}
.section .section-header .section-header-back .btn:hover {
	background-color: #6777ef;
	color: #fff;
}
.section .section-header .section-header-button {
	margin-left: 20px;
}
.section .section-header .section-header-breadcrumb {
	margin-left: auto;
	display: flex;
	align-items: center;
}
.section .section-header .section-header-breadcrumb .breadcrumb-item {
	font-size: 12px;
}
.section .section-header .btn {
	font-size: 12px;
}
.section .section-title {
	font-size: 18px;
	color: #191d21;
	font-weight: 600;
	position: relative;
	margin: 30px 0 25px 0;
}
.section .section-title:before {
	content: " ";
	border-radius: 5px;
	height: 8px;
	width: 30px;
	background-color: #6777ef;
	display: inline-block;
	float: left;
	margin-top: 6px;
	margin-right: 15px;
}
.section .section-title + .section-lead {
	margin-top: -20px;
}
.section .section-lead {
	margin-left: 45px;
}

.main-wrapper-1 .section .section-header {
	margin-left: -30px;
	margin-right: -30px;
	margin-top: -10px;
	border-radius: 0;
	border-top: 1px solid #f9f9f9;
	padding-left: 35px;
	padding-right: 35px;
}

/*  */
.main-content {
	padding-left: 280px;
	padding-right: 30px;
	padding-top: 80px;
	width: 100%;
	position: relative;
}

/* Table */
.table {
	color: inherit;
}
.table td,
.table:not(.table-bordered) th {
	border-top: none;
}
.table:not(.table-sm):not(.table-md):not(.dataTable) td,
.table:not(.table-sm):not(.table-md):not(.dataTable) th {
	padding: 0 25px;
	height: 60px;
	vertical-align: middle;
}
.table:not(.table-sm) thead th {
	border-bottom: none;
	background-color: rgba(0, 0, 0, 0.04);
	color: #666;
	padding-top: 15px;
	padding-bottom: 15px;
}
.table.table-md th,
.table.table-md td {
	padding: 10px 15px;
}
.table.table-bordered td,
.table.table-bordered th {
	border-color: #f6f6f6;
}

.table-links {
	color: #34395e;
	font-size: 12px;
	margin-top: 5px;
	opacity: 0;
	transition: all 0.3s;
}
.table-links a {
	color: #666;
}

table tr:hover .table-links {
	opacity: 1;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.02);
}
